h2 {
    letter-spacing: 3px;
}
figure,
p {
	margin: 0
}

.module h2 {
	word-wrap: break-word;
	font-size: 36px;
	font-size: 3.6rem;
	line-height: 1.25;
	color: #5AB7A9;
	font-family: "EB Garamond", serif;
	font-weight: 400;
	margin: 0;
}
.Vorteile {
    width: 1200px;
    left: -75px;
    position: relative;
}
.Vorteile .text p {
	padding-right: 20px
}
.Vorteile h2 {
    font-size: 21px !important;
    font-weight: bold !Important;
}
.hgrid {
    padding: 0!important;
}
.jtpl-main {
    color: #4E5056;
    font-family: "Noto Sans",Arial,sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}
.jtpl-main {
    font-size: 16px;
    line-height: 1.5;
}
.m-hgrid-column {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    min-height: 1px;
    min-width: 100%;
}
.jtpl-main {
    color: #4E5056;
    font-family: "Noto Sans",Arial,sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}
.jtpl-main {
    font-size: 16px;
    line-height: 1.5;
}
.pagemode-default .jtpl-content.content-options.content-parent div.n {
    padding: 0;
}
.content-options .textWithImage {
color: #000;
    font-family: "Noto Sans",sans-serif,"google";
    font-size: 10px;
}
.textWithImage {
    word-wrap: break-word;
}
.m-hgrid-column .n:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.m-hgrid-column .n {
	padding: 5px
}
.m-hgrid-column.last {
	float: right;
	padding: 0
}
div#content_area figure.imagewrapper {
    margin: 0 8px 5px 0;
}
div.text {
	word-wrap: break-word
}
.m-textwithimage .m-image-align-1, .m-textwithimage .imgleft, .textWithImage .m-image-align-1, .textWithImage .imgleft {
    float: left;
    margin: 4px 20px 4px 0;
    display: inline;
}
.textWithImage figure {
    z-index: 1;
}
.textWithImage .m-image-align-1 {
	float: left;
	margin: 4px 20px 4px 0;
	display: inline
}

.imagewrapper {
    position: relative;
}
.imagewrapper {
    display: block;
    height: auto!important;
    margin: 0;
    max-width: 100%;
    text-align: center;
    width: 100%;
}
.imagewrapper img {
    display: inline;
    left: 0;
    max-width: 100%;
    top: 0;
    vertical-align: top;
}
.content-options h2:not(.blog-headline):not(.blog-comment-counter) {
    font-family: "Noto Sans",sans-serif,"google";
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-transform: none;
    color: #000;
}
@media (max-width: 1200px){
.Vorteile figure.imagewrapper.m-image-align-1 {
    max-width: 34px !important;
    max-height: 34px !important;
}
}
@media (min-width: 920px) and (max-width: 1200px) {
	.Vorteile .m-hgrid-column {
		margin: 0 !important;
		width: 25% !important
	}
	.Vorteile .m-hgrid-column span,
	.Vorteile .m-hgrid-column p {
		font-size: 11px !important
	}
}
@media (min-width: 800px) and (max-width: 1200px) {
	.Vorteile .m-hgrid-column {
		margin: 0;
		width: 25% !Important
	}
}
@media (max-width:767px) {
	.module h2 {
		font-size: 26px!important
	}
}
@media (min-width: 768px) {
.m-hgrid-column {
    float: left;
    min-width: 0;
    padding: 0 2% 0 0;
}
.textWithImage .imagewrapper {
    max-width: 100%;
    width: auto;
}
.m-image-align-1 {
    text-align: left;
}
.imagewrapper {
    text-align: left;
}
}
@media (min-width: 481px) {
.textWithImage .imagewrapper {
    max-width: 50%;
}
}
@media (max-width: 378px) {
	div#iconset .text p {
		padding-right: 10px !important
	}
}
@media (min-width: 600px) and (max-width: 1200px) {
	div#iconset {
		width: 100%;
		left: 0
	}
	.Vorteile .m-hgrid-column.last {
		float: left
	}
	.Vorteile .m-hgrid-column {
		max-width: 40% !important;
		margin: 0px 5% 40px;
		padding: 0 !Important;
		min-width: 0px !important;
		float: left;
		width: 40% !Important
	}
}
@media (min-width: 1024px) and (max-width: 1200px) {
	.Vorteile .m-hgrid-column {
		max-width: 33% !important;
		width: 25% !Important;
		margin: 0px 8% 40px
	}
}

@media (min-width: 600px) and (max-width: 699px) {
	.Vorteile .m-hgrid-column {
		max-width: 50% !important;
		margin: 0px 0% 40px !important;
		width: 50% !Important
	}
}
@media (max-width: 480px) {
	.text span,
	.text p {
		font-size: 12px !Important;
		line-height: 20px
	}
}

.Vorteile h2 {
	font-size: 21px !important;
	font-weight: bold !Important
}

@media (max-width: 350px) {
	body .Vorteile figure.imagewrapper.m-image-align-1 {
		max-width: 26px !important;
		max-height: 26px !important
	}
}

@media (max-width: 1200px) {
	.Vorteile figure.imagewrapper.m-image-align-1 {
		max-width: 34px !important;
		max-height: 34px !important
	}
}

@media (max-width: 1200px) {
	.Vorteile h2 {
		font-weight: bold !Important;
		font-size: 140% !Important
	}
}

@media (max-width: 1024px) {
	body .Vorteile .text p span {
		font-size: 10px !important
	}
}

@media (max-width: 767px) {
	div#iconset .m-hgrid-column {
		margin-bottom: 25px !important
	}
	div#iconset figure {
		width: auto
	}
	div#iconset {
		width: 100%;
		left: 0
	}
}


@media (-webkit-min-device-pixel-ratio: 1.1),
(-webkit-min-device-pixel-ratio: 1.09375),
(min-resolution: 105dpi),
(min-resolution: 1.1dppx) {
}